<div class="main-container">

    <%# sidebar %>
    <div class='sidebar'>

        <%= image_tag 'logo_rest.png', class: "d-grid gap-2 col-10 mx-auto mb-3" %>

        <div class="d-grid gap-2 col-10 mx-auto">
            <button type="button" class="btn btn-primary">Dashborad</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFornecedores" aria-expanded="false" aria-controls="collapseFornecedores">
                Fornecedores
            </button>
            <div class="collapse" id="collapseFornecedores">
                <div class="card align-items-end p-0 border-0 card-bg" style="background-color: rgba(255, 0, 0, 0)";>
                    <button type="button" class="btn btn-primary col-8 mb-2">Insumos</button>
                    <button type="button" class="btn btn-primary col-8 mb-2">Mão de Obra</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Produtos</button>
            <button type="button" class="btn btn-primary">Tabela de Preços</button>
        </div>
    </div>

    <%# Cards %>
    <div class='container py-3'>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>
    
        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>    

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>    
    </div>

</div>