<div class="main-container">

    <%# sidebar %>
    <div class='sidebar'>

        <%= image_tag 'logo_rest.png', class: "d-grid gap-2 col-10 mx-auto mb-3" %>

        <div class="d-grid gap-2 col-10 mx-auto">
            <button type="button" class="btn btn-primary">DASHBOARD</button>
            <button type="button" class="btn btn-primary">FORNECEDORES E COLABORADORES</button>
            <button type="button" class="btn btn-primary">PRODUTOS</button>
            <button type="button" class="btn btn-primary">TABELA DE PREÇOS</button>
            <button type="button" class="btn btn-primary">Primary</button>

            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Fornecedores
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <button type="button" class="btn btn-primary">Insumos</button>
                    <button type="button" class="btn btn-primary">Mão de Obra</button>
                </div>
            </div>            
        </div>


    </div>

    <%# Cards %>
    <div class='container py-3'>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>
    
        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>    

        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>    
    </div>

</div>